<h1> Task Details</h1>

<section class="content details"
	<p>
		<strong>Task:</strong>
		<p><%= @task.action%></p>
		<strong>Description:</strong>
		<p><%= @task.description%></p>
		<strong>Completion Date: </strong>
		<%= @task.completion_date%></p>
	</p>
	<%= link_to "Edit Task", edit_task_path %>
</section>
