/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* h1, nav, body {
  background-color: coral;
  color: ivory;
} */

/* .index-task-action {
  text-decoration: line-through;
} */

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

nav {
  grid-column-start: 1;
  grid-column-end: 2;
}

nav li {
  list-style: none;
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;
}
